@charset "utf-8";

/*_placeholders.scss */

/* more_wrap */
%more_wrap {
	.more_wrap {
		position: absolute;
	}    	
	.more_wrap .link {
		display: inline-block;
		overflow: hidden;
		text-align: right;
		line-height: 35px;
		padding: 10px;
		vertical-align: middle;
	}    	
	.more_wrap .link.open:after {
		display: inline-block;
		content: '';
		vertical-align: middle;
		margin-left: 15px;
		@include sp_icon($arr_down);
	}
	.more_wrap .link.close:after {
		display: inline-block;
		content: '';
		vertical-align: middle;
		margin-left: 15px;
		@include sp_icon($arr_up);
	}    	
	.more_wrap .link.close {
		display: none;
	}    	
	&.on .more_wrap .link.open {
		display: none;
	}
	&.on .more_wrap .link.close {
		display: inline-block;
	}
}

