@charset "utf-8";

/* _variables.scss */

//root path
$G-path: '../';

//img path
$G-path-img: $G-path + 'img/';

//body color
$G-body-color: #222222;

//kr font
$G-font-family-kr: Helvetica, sans-serif;

//en font
$G-font-family-en: Helvetica, sans-serif;

//th font
$G-font-family-th: Helvetica, sans-serif;