@charset "utf-8";

/*_cinema.scss */
body.cinema {
	@include bottom_height(18px);
}
//cinema content
body.cinema .select_wrap {
	overflow: hidden;

	.select_inner {
		position: relative;
		margin: 18px 14px;
		border: 2px solid #b1b1b1;
		font-weight: bold;

		&:before {
			@include sp_icon($arr_down_01);

			position: absolute;
		    top: 19px;
		    right: 9px;
		    content: '';
		}		
	    .label {
	    	position: absolute;
	    	top: 11px;
	    	width: 100%;
	    	display: block;
	    	text-align: left;
	    	text-indent: 8px;
	    }
		.select {
			width: 100%;
			line-height: normal;
			font-family: inherit;
			padding: 11px 10px 12px;
			border: 0;
			opacity: 0;
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
		}
	}
}

body.cinema .cinema_list_wrap {
	@include clearfix;

	padding: 18px 4px 0 14px;
	border-top: 1px solid #c7c9cf;

	&:after {
		display: block;
		content: '';
		margin-top: 18px;
	}
	.item + .item {
		margin-top: 15px;
	}

	.item_inner {
		@include clearfix;

	    margin-right: 42px;

	    .link {
	    	display: block;

		    @include thum_box(58px, 58px);
	    }

	    img {
		    float: left;
		    margin-right: 9px;
		    background-color: #e2e2e2;
		}
		.title {
			display: block;
			padding: 5px 0 15px;
		}

		.title .txt {
			@include ellipsisMulti;

			height: 40px;
			line-height: 20px;	
			font-weight: bold;
			text-align: left;	
		}
	}

	.bookmark {
		display: block;
		float: right;
		
		.link {
			display: block;
			content: '';
			padding: 10px 10px;	
		}

		.link .ico_bookmark {
			@include sp_icon($boomark_off);

			display: block;
			content: '';
		}

		.link.on .ico_bookmark {
			@include sp_icon($boomark_on);	
		}
	}
}

body.cinema .cinema_system_wrap {

	.cinema_system {

		.link.cinema {
			display: block;
			position: relative;
			padding: 17px 14px 16px;
			background-color: #e2e2e2;
		}
		.link.cinema ~ .link.cinema {
			margin-top: 10px;
		}
		.link.cinema .icon_arr {
			@include sp_icon($arr_down_02);

			display: inline-block;
			position: absolute;
			right: 14px;
			top: 21px;
		}
		.link.cinema.on .icon_arr {
			@include sp_icon($arr_up_02);
		}
	}
	.cinema_system .cinema_list_wrap {
		position: relative;
		border: none;
	}
	.cinema_system .indicator_wrap {
		line-height: 0;
		text-align: center;

		.indicator {
			margin: -8px 0 18px;
		}
		.indicator li {
			@include border-radius(4px);

		    
			display: inline-block;
			width: 8px;
			height: 8px;
		    margin-left: 6px;
		    vertical-align: top;
		    font-size: 0;
		    line-height: 0;
		    background-color: #999999;
		}
		.indicator li:first-child {
		    margin: 0;
		}
		.indicator li.on {
		    background-color: #263147;
		}	
	}
}
