@charset "utf-8";

/*_complete.scss */

//complete content
body.complete .center_wrap {
	padding: 143px 0;
	text-align: center;
	color: #858585;

	.ico_mark {
		display: inline-block;
		
		@include sp_icon($complete_mark);
	}
	.title {
		font-size: 17px;
		line-height: 15px;
		margin-top: 24px;
	}
	.exp {
		font-size: 13px;
		line-height: 18px;
		margin-top: 18px;
	}
}

body.complete .btn_wrap {
	@extend %btn_type_bottom;

	.link.ok {
		background-color:#464c69;
	}
}