@charset "utf-8";

/*_main.scss */
.main {
	position:relative;
	background-color: #fbfbfb;
}
//header 
.header {
	width: 100%;
	text-align: center;
	background:#8cc6ef;

	.top_banner_wrap {
		position: relative;
    	display: inline-block;
    	width: 1120px;
    	height: 560px;
    	vertical-align: top;

    	.top_banner .item:nth-child(2) {
    		display: none;
    	}
	}
	.pg {
	    line-height: 0;
	    text-align: center;

		.pg_num_area {
	    	position: absolute;
	    	top: 206px;
	    	left: 0;
		}
		.pg_num_area .pg_num {
			@include border-radius(8px);

		    display: inline-block;
		    width: 16px;
		    height: 16px;
		    vertical-align: top;
		    font-size: 0;
		    line-height: 0;
		    background-color: #ddd;
		}
		.pg_num_area .pg_num:first-child {
		    margin: 0;
		    background-color: #fff;  
		}    
	}
	.icon {
		position: absolute;
		top: 237px;
		display: inline-block;

		&.arr_left {
			display: none;
			left: -90px;
			@include sp_icon($banner_arr_left);
		}
		&.arr_right {
			right: -90px;
			@include sp_icon($banner_arr_right);
		}		
	}
	&.next {
		background:#d7b689;

		.top_banner .item:first-child {
			display: none;
		}
		.top_banner .item:nth-child(2) {
			display: block;
		}
		.pg_num_area .pg_num:first-child {
			background-color: #ddd;  
		}
		.pg_num_area .pg_num:nth-child(2) {
	        background-color: #fff;
		}
		.arr_left {
			display: block;
		}
		.arr_right {
			display: none;
		}
	}
	.item.movie {
		position: relative;


		.link {
			display: inline-block;
			position: absolute;
			left: 475px;
			top: 224px;
			
		}
		.link.play {
			@include sp_icon($play_btn);
		}
		.link.stop {
			display: none;

			@include sp_icon($stop_btn);
		}		
	}
	.item.movie.play {
		.link.play {
			display: none;
		}		
		.link.stop {
			display: inline-block;
		}
	}
}

//main content
.content {
	width: 100%;
	text-align: center;

    .content_inner {
    	display: inline-block;
		position: relative;
	    width: 1120px;
	    letter-spacing: -2.5px;
    	vertical-align: top;
    	text-align: left;    
    }


    .business_info {
    	margin-top: 89px;
    }

    .list {
    	@include clearfix;
    }
    .item {
    	@include clearfix;

    	float: left;
    	width: 33%;

 		&:last-child {
 			width: 34%;
 		}
    	img {
    		float: left;
    		margin-right: 27px;
    	}
    	.num {
    		margin-top: 12px;
    		font-size: 36px;
    		font-weight: 700;
    	}
    	.exp {
    		margin-top: 8px;
    		font-size: 26px;
    	}
    }

    .pickup_guide {
    	margin-top: 87px;

    	.title {
    		font-size: 50px;
    		font-weight: bold;
    	}
    	.sub_title {
    		margin-top: 16px;
    		font-size: 26px;
    	}
    	.point_txt_01 {
    		color: #f96e36;
    	}
    	img {
    		margin-top: 44px;
    	}
		.g1 {
			margin-top: 87px;
		}
    	.g2 {
    		margin-top: 86px;
    	}
    	.g3 {
    		margin-top: 90px;
    	}    	
    	.g3 > img {
    		margin-top: 61px;
    	}
    }

    .goods_purchase_price {
    	position: relative;
    	margin-top: 87px;

    	.title {
    		font-size: 50px;
    		font-weight: bold;
    	}
    	.goods_wrap {
    		overflow: hidden;
    		margin-top: 57px;
    	}
    	.item {
    		display: block;
    		width: 100%;
    	}
    	.item + .item {
    		margin-top: 59px;
    	}
    	.goods_wrap .item ~ .item {
    		display: none;
    	}
    	&.on .goods_wrap .item ~ .item {
    		display: block;
    	}

    	@extend %more_wrap;

    	.more_wrap {
    		right: 40px;
    		top:-5px;
    	}
    }

    .attention {
    	margin-top: 122px;
    }

    .qna {
    	position: relative;
    	margin-top: 112px;
    	font-size: 36px;
    	font-weight: 600;
    	line-height: 60px;

    	dl {
    		margin-top: 56px;
    		border-top: 1px solid #c7c7c7;
    	}
    	dt {
    		padding: 27px 50px;
    	}
    	dt ~ dt {
    		display: none;
			margin-top: 60px;
			border-top: 1px solid #c7c7c7;
    	}
    	dd ~ dd {
    		display: none;
    	}
    	dd {
    		border-top: 1px solid #c7c7c7;
    		padding: 27px 50px 27px 74px;
    		border-bottom: 1px solid #c7c7c7;
    	}
    	&.on dt ~ dt {
    		display: block;
    	} 
    	&.on dd ~ dd {
    		display: block;
    	}

    	@extend %more_wrap;

		.more_wrap {
    		right: 40px;
    		top: 48px;
    	} 
    }
    .request {
    	margin-top: 188px;

    	.title {
    		font-size: 50px;
    		font-weight: bold;
    	}
		.title_form {
			margin-top: 57px;
			font-size: 36px;
			color: #f94c00;
			font-weight: 600;
		}
    	.request_form input {
    		@include box-sizing;

    		width: 100%;
    		height: 120px;
		    border: 1px solid #c7c7c7;
		    font-size: 36px;
		    font-weight: 600;
		    text-indent: 51px;
		    line-height: 118px;
		    color: #000;
		    letter-spacing: -2px;
		}
		.request_form input:focus {
			outline: none;
			border: 1px solid #f94c00;
		}
		.input_wrap:nth-child(2) {
			margin-top: 35px;
		}
		.input_wrap {
			margin-top: 40px;
		}
		.input_wrap.agree {
    		@include box-sizing;

    		width: 100%;
    		height: 120px;
		    border: 1px solid #c7c7c7;
		    font-size: 36px;
		    font-weight: 500;
		    text-indent: 49px;
		    line-height: 118px;
		    letter-spacing: -2px;
		    background-color: #fff;
		}
		.input_wrap.agree .icon_checkbox {
			display: inline-block;
			line-height: 120px;
			vertical-align: -15px;
			margin-right: 26px;

			@include sp_icon($checkbox_off);
		}
		.checkbox:checked + .icon_checkbox {
			@include sp_icon($checkbox_on);
		}
		.confirm {
			margin-top: 40px;
		}
		.confirm .btn {
			display: block;
			width: 100%;
			height: 118px;
			font-size: 36px;
			font-weight: bold;
			color: #fff;
			cursor: pointer;
			border:0;
		    background-color: #f94c00;
		}
    }
}

.footer {
	margin-top: 139px;
	background-color: #17181c;

	.footer_inner {
		position: relative;
		overflow: hidden;
	    width: 1120px;
	    margin: 0 auto;
	    padding-left: 230px;
	}
	.social_wrap {
		position: absolute;
		top: 136px;
		left: 726px;
		line-height: 0;

		a {
			display: inline-block;
			line-height: 0;
		}
	}
	.blog {
		margin-left: 19px;
	}
}

.top_slide_wrap {
	position: fixed;
    top: 420px;
    right: 100px;
    line-height: 0;

    .link {
    	display: block;
    	line-height: 0;
    }
    .link +.link {
    	margin-top: 20px;
    }
}

.layer_pop_wrap {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .dimm_wrap {
	   	display: block;
		width: 100%;
		height: 100%;
		background-color: #000;
		-webkit-opacity: 0.6;
		-moz-opacity: 0.6;
		filter: alpha(opacity=60);
		opacity: 0.6;
    }
    .item_wrap {
    	display: inline-block;
	    position: absolute;
	    top: 169px;
	    right: 0;
	    left: 0;
		text-align: center;	 
		line-height: 0;

		iframe {
			display: inline-block;
    		overflow: hidden;			
		}
    }
}