@charset "utf-8";

/*_payment.scss */

//payment content
body.payment .top_info_wrap {
	@extend %common_info_type;

	.time {
		margin-top: 2px;
		font-size: 11px;
		font-weight: bold;
	}
	.theatre, .seat {
		font-size: 11px;
	}
	.theatre {
		margin-top: 7px;
	}
	.seat {
		margin-top: 2px;
	}
}

body.payment .price_wrap {
	padding: 18px 14px;

	.item {
		@include clearfix;

		color: #858585;
		line-height: 12px;

		& + .item {
			margin-top: 18px;
		}
		.txt {
			float: left;
			width: 70%;
		}
		.num {	
			text-align: right;
		}
		&.total {
			border-top: 1px solid #c7c9cf;
			font-weight: bold;
			color: #222222;
		}
		&.total:before {
			display: block;
			content: '';
			margin-top: 18px;
		}
	}
}

body.payment .btn_wrap {
	@extend %btn_type_bottom;

	.btn_inner {
		float: left;
		width: 50%;
	}
	.link.cancle {
		margin: 0 2px 0 0;
		background-color:#858585;
	}
	.link.pay {
		margin: 0 0 0 2px;
		background-color:#464c69;
	}	

}