@charset "UTF-8";
/*_main.scss */
.content .goods_purchase_price .more_wrap .link.open:after,.content .qna .more_wrap .link.open:after,.content .goods_purchase_price .more_wrap .link.close:after,.content .qna .more_wrap .link.close:after,.header .icon.arr_left,.header .icon.arr_right,.header .item.movie .link.play,.header .item.movie .link.stop,.content .request .input_wrap.agree .icon_checkbox,.content .request .checkbox:checked + .icon_checkbox,.pop_section .btn_clear:before{background-image:url("../img/sp_icon.png")}
/* _variables.scss */
/*_mixin.scss */
/* _base.scss */
/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:26px;color:#2f2d2d}
html[lang=ko] body,html[lang=ko] input,html[lang=ko] textarea,html[lang=ko] select,html[lang=ko] button,html[lang=ko] table{font-family:'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',Dotum,Sans-serif}
html{height:100%}
img,fieldset{border:0}
img{vertical-align:top}
table{border-collapse:collapse}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;cursor:pointer;color:#2f2d2d}
a[href]:hover,a[href]:active,a[href]:focus{text-decoration:none}
label,button{cursor:pointer}
button{border:none}
textarea{overflow:auto;resize:none}
hr{display:none}
.u_skip,.blind,legend{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:0;height:0;margin:-1px;padding:0;font-size:1px;line-height:0;color:transparent}
/*_placeholders.scss */
/* more_wrap */
.content .goods_purchase_price .more_wrap,.content .qna .more_wrap{position:absolute}
.content .goods_purchase_price .more_wrap .link,.content .qna .more_wrap .link{display:inline-block;overflow:hidden;text-align:right;line-height:35px;padding:10px;vertical-align:middle}
.content .goods_purchase_price .more_wrap .link.open:after,.content .qna .more_wrap .link.open:after{display:inline-block;content:'';vertical-align:middle;margin-left:15px;width:34px;height:35px;background-position:-246px -172px}
.content .goods_purchase_price .more_wrap .link.close:after,.content .qna .more_wrap .link.close:after{display:inline-block;content:'';vertical-align:middle;margin-left:15px;width:34px;height:35px;background-position:-290px -172px}
.content .goods_purchase_price .more_wrap .link.close,.content .qna .more_wrap .link.close{display:none}
.content .on.goods_purchase_price .more_wrap .link.open,.content .on.qna .more_wrap .link.open{display:none}
.content .on.goods_purchase_price .more_wrap .link.close,.content .on.qna .more_wrap .link.close{display:inline-block}
/*_main.scss */
.main{position:relative;background-color:#fbfbfb}
.header{width:100%;text-align:center;background:#8cc6ef}
.header .top_banner_wrap{position:relative;display:inline-block;width:1120px;height:560px;vertical-align:top}
.header .top_banner_wrap .top_banner .item:nth-child(2){display:none}
.header .pg{line-height:0;text-align:center}
.header .pg .pg_num_area{position:absolute;top:206px;left:0}
.header .pg .pg_num_area .pg_num{-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;border-radius:8px;display:inline-block;width:16px;height:16px;vertical-align:top;font-size:0;line-height:0;background-color:#ddd}
.header .pg .pg_num_area .pg_num:first-child{margin:0;background-color:#fff}
.header .icon{position:absolute;top:237px;display:inline-block}
.header .icon.arr_left{display:none;left:-90px;width:50px;height:84px;background-position:0px -172px}
.header .icon.arr_right{right:-90px;width:50px;height:84px;background-position:-60px -172px}
.header.next{background:#d7b689}
.header.next .top_banner .item:first-child{display:none}
.header.next .top_banner .item:nth-child(2){display:block}
.header.next .pg_num_area .pg_num:first-child{background-color:#ddd}
.header.next .pg_num_area .pg_num:nth-child(2){background-color:#fff}
.header.next .arr_left{display:block}
.header.next .arr_right{display:none}
.header .item.movie{position:relative}
.header .item.movie .link{display:inline-block;position:absolute;left:475px;top:224px}
.header .item.movie .link.play{width:167px;height:162px;background-position:0px 0px}
.header .item.movie .link.stop{display:none;width:167px;height:162px;background-position:-177px 0px}
.header .item.movie.play .link.play{display:none}
.header .item.movie.play .link.stop{display:inline-block}
.content{width:100%;text-align:center;overflow:hidden}
.content .content_inner{display:inline-block;position:relative;width:1120px;letter-spacing:-2.5px;vertical-align:top;text-align:left;overflow:hidden}
.content .business_info{margin-top:89px;overflow:hidden}
.content .list:after{content:'';display:block;clear:both}
.content .item{float:left;width:33%}
.content .item:after{content:'';display:block;clear:both}
.content .item:last-child{width:34%}
.content .item img{float:left;margin-right:27px}
.content .item .num{margin-top:12px;font-size:36px;font-weight:700}
.content .item .exp{margin-top:8px;font-size:26px}
.content .pickup_guide{margin-top:87px}
.content .pickup_guide .title{font-size:50px;font-weight:bold}
.content .pickup_guide .sub_title{margin-top:16px;font-size:26px}
.content .pickup_guide .point_txt_01{color:#f96e36}
.content .pickup_guide img{margin-top:44px}
.content .pickup_guide .g1{margin-top:87px}
.content .pickup_guide .g2{margin-top:86px}
.content .pickup_guide .g3{margin-top:90px}
.content .pickup_guide .g3 > img{margin-top:61px}
.content .goods_purchase_price{position:relative;margin-top:87px}
.content .goods_purchase_price .title{font-size:50px;font-weight:bold}
.content .goods_purchase_price .goods_wrap{overflow:hidden;margin-top:57px}
.content .goods_purchase_price .item{display:block;width:100%}
.content .goods_purchase_price .item + .item{margin-top:59px}
.content .goods_purchase_price .goods_wrap .item ~ .item{display:none}
.content .goods_purchase_price.on .goods_wrap .item ~ .item{display:block}
.content .goods_purchase_price .more_wrap{right:40px;top:-5px}
.content .attention{margin-top:122px}
.content .qna{position:relative;margin-top:112px;font-size:36px;font-weight:600;line-height:60px}
.content .qna dl{margin-top:56px;border-top:1px solid #c7c7c7}
.content .qna dt{padding:27px 50px}
.content .qna dt ~ dt{display:none;margin-top:60px;border-top:1px solid #c7c7c7}
.content .qna dd ~ dd{display:none}
.content .qna dd{border-top:1px solid #c7c7c7;padding:27px 50px 27px 74px;border-bottom:1px solid #c7c7c7}
.content .qna.on dt ~ dt{display:block}
.content .qna.on dd ~ dd{display:block}
.content .qna .more_wrap{right:40px;top:48px}
.content .request{margin-top:188px}
.content .request .title{font-size:50px;font-weight:bold}
.content .request .title_form{margin-top:57px;font-size:36px;color:#f94c00;font-weight:600}
.content .request .request_form input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:100%;height:120px;border:1px solid #c7c7c7;font-size:36px;font-weight:600;text-indent:51px;line-height:118px;color:#000;letter-spacing:-2px}
.content .request .request_form input:focus{outline:none;border:1px solid #f94c00}
.content .request .input_wrap:nth-child(2){margin-top:35px}
.content .request .input_wrap{margin-top:40px}
.content .request .input_wrap.agree{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:100%;height:120px;border:1px solid #c7c7c7;font-size:36px;font-weight:500;text-indent:49px;line-height:118px;letter-spacing:-2px;background-color:#fff}
.content .request .input_wrap.agree .icon_checkbox{display:inline-block;line-height:120px;vertical-align:-15px;margin-right:26px;width:53px;height:53px;background-position:-120px -172px}
.content .request .checkbox:checked + .icon_checkbox{width:53px;height:53px;background-position:-183px -172px}
.content .request .confirm{margin-top:40px}
.content .request .confirm .btn{display:block;width:100%;height:118px;font-size:36px;font-weight:bold;color:#fff;cursor:pointer;border:0;background-color:#f94c00}
.footer{margin-top:139px;background-color:#17181c;overflow:hidden}
.footer .footer_inner{position:relative;overflow:hidden;width:1120px;margin:0 auto;padding-left:140px}
.footer .social_wrap{position:absolute;top:136px;left:716px;line-height:0}
.footer .social_wrap a{display:inline-block;line-height:0}
.footer .blog{margin-left:19px}
.top_slide_wrap{position:fixed;top:420px;right:100px;line-height:0}
.top_slide_wrap .link{display:block;line-height:0}
.top_slide_wrap .link + .link{margin-top:20px}
.layer_pop_wrap{position:fixed;top:0;left:0;right:0;bottom:0}
.layer_pop_wrap .dimm_wrap{display:block;width:100%;height:100%;background-color:#000;-webkit-opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);opacity:0.6}
.layer_pop_wrap .item_wrap{-moz-transform:translateY(-10%);-o-transform:translateY(-10%);-ms-transform:translateY(-10%);-webkit-transform:translateY(-10%);transform:translateY(-10%);-moz-transform:translateX(-50%);-o-transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);display:inline-block;position:fixed;top:10%;left:50%;line-height:0}
.layer_pop_wrap .item_wrap iframe{display:inline-block;overflow:hidden}
/*_popup_post.scss */
.content_popup{width:537px;padding:48px 42px 115px;text-align:left}
.content_popup.complete{width:405px;padding:60px 106px 165px}
.pop_header h1{font-size:24px;line-height:20px;font-weight:600}
.pop_section{margin-top:26px}
.pop_section h2{font-size:18px;line-height:16px;color:#f94c00;font-weight:500}
.pop_section .input_wrap{display:inline-block;position:relative;margin-top:16px}
.pop_section .input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:448px;height:60px;border:1px solid #d2d2d2;font-size:16px;line-height:59px;font-weight:500;text-indent:24px;letter-spacing:-1px}
.pop_section .input.phone{width:392px}
.pop_section .input:focus{outline:none;border:1px solid #f94c00}
.pop_section .btn_clear{display:inline-block;position:absolute;top:0;right:90px;bottom:0;padding:15px 20px}
.pop_section .btn_clear:before{display:inline-block;content:'';width:17px;height:17px;background-position:-120px -235px}
.pop_section .btn.search{display:inline-block;width:52px;height:24px;padding:18px;font-size:17px;line-height:24px;color:#fff;background-color:#2f2d2d;text-align:center;vertical-align:top}
.pop_section .btn_clear.phone{right:145px}
.pop_section .btn.phone{display:inline-block;width:109px;height:24px;padding:18px;font-size:17px;line-height:24px;color:#fff;background-color:#2f2d2d;text-align:center;vertical-align:top}
.pop_section ul{font-size:17px;font-weight:500;color:#2a2925;margin-top:40px}
.pop_section li{margin-top:10px}
.pop_section .guide_wrap li span{color:#a9a9a9}
.pop_section .result_wrap{overflow:hidden;overflow-y:auto;position:relative;height:354px;margin-top:27px;line-height:30px}
.pop_section .result_wrap li + li{margin-top:20px}
.pop_section .result_wrap li{overflow:hidden}
.pop_section .result_wrap li span.type{float:left;display:block;width:15%;color:#f94c00}
.pop_section .result_wrap li span.address{float:right;display:block;padding-right:15px;width:80%}
.pop_section .detail_wrap{margin-top:27px}
.pop_section .detail_wrap .input{width:100%}
.pop_footer{margin-top:290px;text-align:right}
.pop_footer .btn{display:inline-block;width:35px;height:25px;padding:16px 20px;font-size:17px;font-weight:500;line-height:25px;color:#fff;background-color:#2f2d2d;text-align:center;vertical-align:top;border:1px solid #d2d2d2}
.pop_footer .btn.cancel{color:#2f2d2d;background-color:#fff}
.pop_footer .btn.confirm{margin-left:5px}
.pop_footer.complete{margin-top:42px;text-align:right;margin-right:-60px}
